body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.recipe-card {
    
    background-color: #e7e6e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
    margin: 20px;
    padding: 20px;
    width: 350px;
    text-align: left;
    transition: transform 1.5s;
    height: auto;
      
}

.recipe-card:hover {
    background-color: #e7e6e676;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.319);
    width: 350px;
    text-align: left;
    transition: transform 1.5s;
    
}

.recipe-card:hover {
    transform: scale(1.1000);
}

.recipe-title {
    font-size: 25px;
    color: #333;
    margin-bottom: 20px;
}

.recipe-title {
    text-align: center;
}

.recipe-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 2px solid rgba(0, 0, 0, 0.319);
    
}

.recipe-image:hover {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 2px solid black;
    
}

.recipe-desc, .recipe-time {
    color: #555;
    margin-bottom: 10px;
}

.recipe-instructions {
    color: #777;
    font-size: 18px;
    margin-top: 10px;
}

button {
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
}

button:hover {
    cursor:pointer;
    background-color: #e7e6e6;
    color: black;
    box-shadow: 0px 3px 8px black;
}

.hidden {
    display: none;
}

.details-btn {
    background-color: #ff5722;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px 0;
    transition: background-color 0.3s;
}

.details-btn:hover {
    background-color: #e64a19;
}

.short-text {
    color: #555;
}

.full-text {
    color: #777;
    margin-top: 10px;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #010000de;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    padding: 20px 0;
}

.section1 {
    width: 150px;
    padding: 30px;
}

.s1 {
    color: #B53514;
}

.s2 {
    color: rgba(255, 255, 255, 0.719);
    font-size: 13px;
}

.section2 {
    padding: 30px;
}

.section3 {
    padding: 30px;
}


.p2 {
    margin: 10px 0;
}

.section4 {
    padding: 30px;

}

.section4 ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.section4 ul li a {
    color: white;
    font-size: 20px;
}

.section4 ul li a :hover {
    transition: .5s;
    color: #B53514;
}
header {
    background-color: #000;
    padding: 20px 0;
}

.class {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.class li {
    margin-right: 70px;

}

.class a {
    color: #fffafa;
    text-decoration: none;
    font-size: 16px;

}

span {
    color: #B53514;
}

.logo img {

    height: 55px;
    position: absolute;
    left: 20px;
    top: 0px;
    width: 60px;
    align-items: center;


}
